<%- include('../layouts/header.ejs')%>

<section class="vh-100 bg-image"
  style="background-color: rgb(20, 78, 238);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Edit User</h2>
              <form action="" method="post">
                <div class="form-outline mb-4">
                  <input type="name" id="form3Example3cg" name="name" class="form-control form-control-lg" value="<%= user.name %>" />
                  <label class="form-label" for="form3Example3cg">Enter Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example4cg" name="email" class="form-control form-control-lg" value="<%= user.email%>"/>
                  <label class="form-label" for="form3Example4cg">Enter email</label>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body " value="login">Update User</button>
                </div>
              </form>
              <a href="/admin/">Go dashboard</a>
              <% 
              if(typeof message !=='undefined'){
                %>
                <h4><%= message %></h4>
                <%
              }
             %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer.ejs')%>
